.product {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  margin: 0;
  padding: 2.3em 2em 50px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  vertical-align: top;
  width: 20%;
  border-bottom: 1px solid #d4d4d4;
  a {
    text-decoration: none;
  }
  
  &:hover {
    cursor: pointer;
    border-color: #fff;
    box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0 5.8px 2px rgba(0, 0, 0, 0.192);
    transition: box-shadow 0.1s ease-in-out;
  }
}

.card {
  text-align: center;
}

.card_img {
  max-width: 100%;
  height: auto;
}

.info {
  margin-top: 5px;
}

.model {
  -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
  color: rgb(73, 73, 73);
  display: block;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 15.5px;
  // max-height: 3.5em;
  overflow: hidden;
  position: relative;
}

.discount {
  color: #707070;
  display: block;
  font-size: 12px;
  line-height: 1.3;
  margin: 22px 0;
}

.final_row {
  display: flex;
  justify-content: center;
  color: #4e4e4e;
  font-size: 25px;
  font-style: normal;
  line-height: 1.5;
}

.amount {
  display: flex;
  align-items: flex-start;
  font-weight: 560;
}

.currency {
  font-size: 1.4ex;
  margin-top: 4px;
}

.decimal {
  font-size: 0.9rem;
  align-self: flex-start;
  margin-top: 5px;
}
