.product_action {
  border-top: 1px solid #e0dfde;
  margin-top: -1px;
  padding: 10px 0 18px;
}

.product_avail {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin: 2px 0 2px;
}

.avail_summary {
  font-size: 1.25em;
  margin: 0 5px 2px 0;
  width: auto;
  color: #3b7d1a;
  font-weight: 600;

  span {
    margin: 0 5px 2px 0;
  }
}

.avail_not_stock {
  font-size: 1.25em;
  margin: 0 5px 2px 0;
  width: auto;
  color: #971414;
  font-weight: 600;

  span {
    margin: 0 5px 2px 0;
  }
}

.product_action_cart .product_action_wishlist {
  margin: 15px 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.product_button_cart {
  max-width: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 100%;

  button {
    transition: 0.2s;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    height: 52px;
    line-height: 52px;
    margin: 0 0 10px;
    outline-offset: 2px;
    padding: 0 25px;
    width: 100%;
    background-color: #3b7d1a;

    &:hover {
      background-color: #2d5c16;
    }
  }
}

.product_button_wishlist {
  max-width: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 100%;

  span {
    margin: 0 10px;
    font-size: 17px;
  }

  button {
    transition: 0.2s;
    cursor: pointer;
    background: #f8f7fd;
    border: 2px solid #f8f7fd;
    border-radius: 50px;
    color: #6b7073;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #e3f7ff;
      border: 2px solid #e3f7ff;
      color: #0a476e;
    }
  }
}
