.paginator {
  display: flex;
  justify-content: center;
}

.paginator_nav {
  display: flex;
  gap: 8px;
  margin: 10px 0;

  button {
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #bdbdbd;
    width: 66px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.8ex;
    transition: 0.3s ease;
    &:hover {
      background-color: rgb(252, 183, 118);
      border: solid 1px rgb(252, 183, 118);
    }
  }

  .page_active {
    background-color: rgb(255, 145, 43);
    border: solid 1px rgb(255, 145, 43);
    font-weight: 900;
  }

  .inactive {
    display: none;
  }
}
