@use "/src/scss/layout/" as *;
// @use "/src/scss/utils/" as *;
@forward "/src/scss/base/index";
@forward "/src/scss/common/price-style/";

.cart_section {
  @include section;
}

.cart_container {
  @include container;
}

.cart_wrapper {
  @include wrapper;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
}

.cart_row {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 2rem;
  align-items: start;
  padding: 12px 0;
  margin: 20px 0;
}

.cart_items_card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  .cart_items_header {
    border-radius: 15px 15px 0 0;
    background-color: var(--main-color-primary);
    padding: 9px 22px 9px;
    h2 {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      padding: 0;
      margin: 0;
    }
  }
}

.cart_item_container {
  padding: 25px 30px;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }
  .cart_item {
    display: flex;
    align-items: start;
    .cart_item_img {
      display: flex;
      flex-direction: column;
      justify-items: center;
      text-align: center;
      margin-right: 20px;
      p {
        font-size: 0.75rem;
        span {
          font-size: 0.875rem;
          font-weight: 700;
        }
      }
      img {
        border-radius: 15px;
        width: 110px;
      }
    }
    .cart_item_detail {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      padding: 0 12px;
      h3 {
        padding: 0;
        margin: 0;
        font-size: 0.95rem;
        font-weight: 800;
      }
      .cart_item_quantity_buttons {
        display: flex;
        flex-direction: row;
        gap: 0.875rem;
        border: solid 1px #d8d7d7;
        align-items: center;
        span {
          font-size: 0.85rem;
        }
        button {
          cursor: pointer;
          padding: 0 10px;
          background-color: transparent;
          border-color: transparent;
          transition: 0.3s ease;
          &:hover {
            background-color: #d8d7d7;
          }
        }
      }
    }
    .cart_item_remove_buttom {
      margin-top: 6px;
      display: flex;
      align-items: center;
      span {
        margin-right: 3px;
      }
      button {
        cursor: pointer;
        background-color: transparent;
        border-color: transparent;
        display: flex;
        align-items: center;
      }
    }
  }
}

.cart_total_card {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: solid 2px #575555;
  background-color: #fff;
  border-radius: 15px;
  padding: 22px;
  .cart_estimated {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1rem;
      font-weight: 800;
    }
  }
  .cart_pay_buttons {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #d8d7d7;
    padding: 22px 0;
    button {
      cursor: pointer;
      color: #fff;
      font-size: 1.12rem;
      font-weight: 600;
      padding: 12px;
      border-radius: 12px;
      border: none;
      background-color: #4f46e5;
      transition: 0.3s ease;
      &:hover {
        color: #fff;
        background-color: #3a35a1;
      }
    }
  }
}

.cart_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 0;
  text-align: center;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  p {
    font-size: 1.4rem;
    color: #666;
  }

  a {
    margin-top: 1rem;
    color: #f97316;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.payment_card {
  margin-top: 30px;
  display: grid;
  grid-template-columns: .8fr .89fr;
  align-items: center;
  border-radius: 12px;
  background: rgba(110, 109, 109, 0.13);
  overflow: hidden;
  // @include mobile {
  //   display: flex;
  //   flex-direction: column;
  // }
  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
    // @include mobile {
    //   height: 300px;
    // }
  }
  .payment_text {
    padding: 0 2rem;

    h2 {
      font-size: 1.245rem;
      font-weight: 800;
      line-height: 1.3;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }
  }
}
