.site_header {
  background-color: #d4d2d2;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 999;
}

.header_container {
  max-width: 1880px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1ex;
}

.header_menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_logo {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 16px;
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    width: 176px;
  }
}

.menu_search_wrap {
  flex: 1;
  min-width: 0;
  margin: 0 16px;
  display: flex;
}

.autocomplete {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.search_form {
  background-color: #f2f1f0;
  border: 3px solid #202022;
  border-radius: 3px;
  display: flex;
  line-height: 1em;
  margin: 0;
  position: relative;
  width: 100%;
  align-items: center;
  transition: 0.2s ease;

  &:focus-within {
    border-color: rgb(26, 131, 216);
  }
}

.icon_wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  height: 44px;
  order: 1;
  width: 50px;
}

.input_wrapper {
  order: 3;
  position: relative;
  width: 100%;
  padding: 0 12px;

  input {
    appearance: none;
    background: none;
    border: 0;
    color: #262627;
    font: inherit;
    height: 40px;
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.menu_item_phone {
  display: flex;
  padding: 0 16px;
  align-items: center;
  .phone_container {
    display: inline-block;
    padding: 5px 0 0 5px;
    text-align: left;
    vertical-align: middle;

    span {
      display: block;
      font-size: 1.375rem;
      font-weight: 600 !important;
    }
  }
}

.menu_item {
  display: flex;
  padding: 0 16px;
  align-items: center;

  .menu_item_container {
    display: inline-block;
    padding: 5px 0 0 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;

    .icon_cart {
      font-size: 2.7ex;
    }
  }
}
