@mixin section {
  width: 100%;
  position: relative;
}

@mixin container {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

@mixin wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
}

@mixin item_card_style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 1.125rem 1.25rem;
}
