.item_page {
  display: flexbox;
  margin: 0 auto;
  max-width: 1900px;
  padding-top: 2.5ex;
  padding-bottom: 2.5ex;
  padding-left: 3.8ex;
  padding-right: 3.8ex;
}

.item_category_section {
  border-right: 1px solid #d4d4d4;
  max-width: 400px;
  min-width: 220px;
  width: 10%;
}

.catalog_title {
  border-bottom: 1px solid #d4d4d4;
  color: #0072ba;
  font-size: 21px;
  font-weight: 580;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 18px 0 18px;

  p {
    margin: 0;
  }
}

.item_header {
  border: solid #d4d4d4;
  border-width: 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: start;

  h1 {
    font-size: 5ex;
    font-weight: 850;
  }
}

.category_flex {
  display: flex;
}
