.footer_background {
    position: relative;
    background-color: rgb(32, 32, 32);
    color: #fff;
}

.footer_layout {
    padding: 42px 0 42px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;

    h2 {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.8;
        letter-spacing: 6px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 12px 0 0 0;
    }
    
}